<%- include('../partials/header.ejs') %>

<h1>Add a new Employee:</h1>
<form action="/schedules/employee" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Submit">
</form>

</body>
</html>