<%- include('../partials/header.ejs') %>
    <script>
        let logoutButton = document.querySelector('#logout');
        logoutButton.remove();
    </script>
    <h1>Welcome to EZEmployees!</h1>
    <a href="/login" class="backbutton" style="margin: 0 10px 0 0;">
        Login
    </a>
    <a href="/signup" class="backbutton">
        Sign Up
    </a>
</body>
</html>