<%- include('../partials/header.ejs') %>
    <script>
        let logoutButton = document.querySelector('#logout');
        logoutButton.remove();
    </script>
    <div id="signupform">
        <h1>Signup for your account:</h1>
        <form method="POST" action="/signup">
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="something@gmail.com">
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="CornOnTheCobber">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password">
            </div>
            <div>
                <a href="/" class="backbutton">
                    Back
                </a>
                <input type="submit" value="Create New User" id="submitbutton">
            </div>
        </form>
    </div>
</body>
</html>